@model int
@{
    ViewData["Title"] = "HttpError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HTTP-fel @Model </title>
        <h1>Oops...</h1>
        <p>Ett http-fel inträffade: @Model</p>
    </head>
    <body>
        </body>
    </html>

